<div class="container px-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="row">
    <div class="col-md-6 texto-e-botao">
      <h3>Seja bem-vindo!</h3>
      <p>Este é nosso sistema/projeto de RH.
        Divirtam-se, estamos ansiosos pelo crescimento de vocês.
        Para começar basta clicar em Iniciar.</p>
      <p>Até breve!</p>
      <button type="button" class="btn btn-primary rounded-0 px-5" (click)="iniciar()">Iniciar</button>
    </div>
    <div class="col-md-6 imagem-login text-center">
      <img src="/assets/Login.png" alt="Imagem de Login" class="img-fluid">
    </div>
  </div>
</div>
