<div class="container px-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="row">
    <div class="col-md-6 texto-e-botao">
      <h3>Página não encontrada.</h3>
      <p>Esta página não foi encontrada. Retorne ao menu para buscar uma nova função.</p>
      <br/>
      <br/>
      <button type="button" class="btn btn-primary rounded-0 px-5" (click)="voltar()">Voltar</button>
    </div>
    <div class="col-md-6 imagem-404 text-center">
      <img src="/assets/PaginaNaoEncontrada.png" alt="Imagem 404" class="img-fluid">
    </div>
  </div>
</div>
