<div class="d-flex justify-content-between align-items-center mt-5 mb-2">
  <h3 class="fs-4 fw-bold mb-0">{{ tituloTabela }}</h3>
  <a href="#" class="text-primary text-decoration-none">
    <i class="bi bi-funnel"></i> Filtrar
  </a>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover align-middle">
    <thead class="table-secondary">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Cargo</th>
        <th>Setor</th>
        <th>Data de início</th>
        <th>Data de fim</th>
        <th class="text-end">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nome</td>
        <td>000.000.000-00</td>
        <td>Cargo</td>
        <td>Setor</td>
        <td>DD/MM/AAAA</td>
        <td>DD/MM/AAAA</td>
        <td class="text-end">
          <button class="btn p-0">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-end mt-3 mb-5">
  <button
    class="btn rounded-0"
    style="background-color: #1f3e6a; color: white"
  >
    Agendar
  </button>
</div>
