<section class="container-fluid">
  <a href="">Voltar</a>
  <div>
    <h1>Buscar</h1>
    <form class="d-flex">
      <div class="mb-3">
        <label for="exampleInputCPF" class="form-label">CPF</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputCPF"
          aria-describedby="campoCPF"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
    </form>
  </div>
</section>
