<div class="p-4">
  <p>Informações da pessoa</p>
  <div *ngIf="!funcionario" class="alert alert-warning">
    Nenhum funcionário selecionado.
  </div>
  <div *ngIf="funcionario" class="row bg-body-secondary p-3 rounded">
    <div class="col-4">
      <p class="fw-bold">Nome</p>
      <p>{{ funcionarioService?.funcionarioSelecionado!.nome }}</p>
    </div>
    <div class="col-4">
      <p class="fw-bold">CPF</p>
      <p>{{ funcionarioService?.funcionarioSelecionado!.cpf | mask: '000.000.000-00' }}</p>
    </div>
    <div class="col-4">
      <p class="fw-bold">Situação</p>
      <p>{{ funcionarioService?.funcionarioSelecionado!.ativo ? 'Ativo' : 'Inativo' }}</p>
    </div>
  </div>
</div>
