<form class="row g-3 align-items-end border mt-4 pb-3">
  <h2 class="fs-3 fw-bold" style="color: #1f3e6a">Busca</h2>

  <div class="col-md-3">
    <label for="cpfInput" class="form-label"><strong>CPF</strong></label>
    <input
      type="text"
      class="form-control rounded-0"
      id="cpfInput"
      placeholder="Digitar..."
    />
  </div>

  <div class="col-md-3">
    <label for="nomeInput" class="form-label"><strong>Nome</strong></label>
    <input
      type="text"
      class="form-control rounded-0"
      id="nomeInput"
      placeholder="Digitar..."
    />
  </div>

  <div class="col-md-6 d-flex justify-content-end gap-2">
    <button type="reset" class="btn rounded-0 btn-outline-secondary">
      <i class="bi bi-eraser"></i> Limpar
    </button>

    <button
      type="submit"
      class="btn rounded-0"
      style="color: white; background-color: #1f3e6a"
    >
      <i class="bi bi-search"></i> Buscar
    </button>
  </div>
</form>