.menu-filho:hover {
  background-color: var(--bs-secondary-bg);
  font-weight: bold;
}

.menu-filho.active {
  background-color: var(--bs-secondary-bg);
  font-weight: bold;
}
.menu-pai:hover {
  background-color: var(--bs-secondary-bg);
  font-weight: bold;
}

.menu-pai.hovered {
  background-color: var(--bs-secondary-bg);
}
