<div class="container">
  <div class="container-fluid">
    <a href="#"><p>voltar</p></a>
    <div class="py-5 mt-5">
    <h3 >Horários</h3>
    <hr>
    <div class="">
        <table class="table table-striped">
            <thead>
              <tr class="table-secondary">
                <th scope="col">Horários</th>
                <th scope="col">Horário do inicio</th>
                <th scope="col">Horário do fim</th>
                <th scope="col">Início do intervalo</th>
                <th scope="col">Fim do intervalo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Horário 1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>b</td>
                <td>b</td>
              </tr>
              <tr>
                <th scope="row">Horário 2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>a</td>
                <td>a</td>
              </tr>
              <tr>
                <th scope="row">Horário 3</th>
                <td>John</td>
                <td>Doe</td>
                <td>c</td>
                <td>c</td>  
              </tr>
            </tbody>
          </table>
    </div>
    </div>
  </div>
</div>
