<div class="container">
  <div class="container-fluid">
    <a href="#"><p>Voltar</p></a>
    <div class="py-5 mt-5">
      <h3>Horários</h3>
      <hr>
      <div class="">
        <table class="table table-striped">
          <thead>
            <tr class="table-secondary">
              <th scope="col">Horários</th>
              <th scope="col">Horário do Início</th>
              <th scope="col">Horário do Fim</th>
              <th scope="col">Início do Intervalo</th>
              <th scope="col">Fim do Intervalo</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let horario of horarios; let i = index">
              <th scope="row">Horário {{i + 1}}</th>
              <td>{{ formatarHora(horario.horarioInicio) }} </td>
              <td>{{ formatarHora(horario.horarioFim) }} </td>
              <td>{{ formatarHora(horario.intervaloInicio)}} </td>
              <td>{{ formatarHora(horario.intervaloFim) }} </td>
              <td>
                <i class="bi bi-pen" (click)="abrirModalEditar(horario, i)" style="cursor: pointer;"></i>
              </td>
              <td><i class="bi bi-trash" (click)="excluirHorario(horario.id, i)" style="cursor: pointer;"></i></td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="d-flex justify-content-end py-5 mt-4">
          <button type="button" class="btn btn-primary" (click)="abrirModalAdicionar()">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</div>


